body{
     background-color: #040D12;
}
.centered{
     height: 100vh;
}
.btni{
     width: 200px;
     height: 200px;
     border-radius: 70%;
     background-color: #183D3D;
     border: #183D3D;
}

.btni:hover{
     background-color: #183D3D;
     
}


button i {
     font-size: 55px;
     color: #93B1A6;
}